body{
	background-color:beige;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";	
	font-weight: 900;
	font-size:18px;
}


div.bg-scroll{
	background-color:rgba(0, 0, 0, 0);
	color: rgba(0, 0, 0, 1);
}


a{
	color: red;
	font-size: 20px;
}

.summary{
	margin-top:-20px;
}

nav .active{
	text-decoration: none;
	color:white;
	background-color:red;
	padding: 5px 10px;
	border-radius: 100px/50px;
}

nav a, div.index, div.blog{
	transition: transform 0.3s;
}

nav a:hover{
	text-decoration: none;
	color:white;
	background-color:red;
	padding: 5px 10px;
	border-radius: 100px/50px;
}

div.index:hover, div.blog:hover{
	transform: scale(1.1);
}

.scrolltop-button{
	position:fixed;
	right:15px;
	bottom:15px;
	transition-duration: 0.4s;
	z-index:1;
}

.scrolltop-button:hover{
	opacity:0.6;
	cursor:pointer;
}

h1{
	font-weight: 900;
}

hr{
	background-color:black;
	height: 2px;
}

.rounded-circle{
	width: 45%;
}

.bio img{
	transition: transform .3s;
}

.bio img:hover{
	cursor:pointer;
	transform: scale(1.5);
}

.accomplishments{
	margin-left:5%;
}

.yr_acm{
	border-left: 5px solid red;
}


.contact img{
	width:8%;
}

.contact img:hover{
	opacity: 0.5;
}


.contact span{
	margin-left:5px;
}

.second_version img{
	width:25%;
}

.mail, .wa{
	margin-right:10px;
}

@media screen and (max-width:769px){
	.logo{
		margin-top: 80px;
		margin-bottom:20px;
		width:300px;
		height: 300px;
	}

	.credit img{
		width:60%;
	}
	
	.contact span{
		display:none;
	}
	
	.first_version{
		display:none;
	}
	
}

@media screen and (min-width:770px){
	.second_version{
		display:none;
	}
}

@media screen and (max-width:560px){
	.second_version img{
		width:35%;
	}
}

@media screen and (max-width:993px){
	.rounded-circle{
		width: 35%;
	}
	
	.summary{
		margin-top:0;
		right: 20%;
		left: 20%;
	}
}